# === PHP / Composer ===
vendor/
composer.lock


# === Environnement ===
.env
.env.local
.env.*.local
*.ini

# === IDE ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# === Logs & Cache ===
*.log
# Ignorer tout dans cache/
cache/**

# Réinclure uniquement le fichier .gitkeep
!cache/.gitkeep

logs/
tmp/
temp/

# === OS ===
.DS_Store
Thumbs.db

# === Docker (si tu en utilises) ===
docker-compose.override.yml
*.pid
