{% extends "layout.html.twig" %}

{% block title %}Liste des Catégories{% endblock %}

{% block content %}
    <h2>Liste des Catégories</h2>
    {% if categories is empty %}
        <p>Aucune catégorie.</p>
    {% else %}
        <ul>
            {% for categorie in categories %}
                <li>
                    <a href="{{ url_for('details_categorie', {'id': categorie.id}) }}">
                        {{ categorie.libelle }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}